@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("/images/background.jpg");
  background-repeat: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 400px;
  height: 550px;
  background: rgba(237, 201, 19, 0.121);
  backdrop-filter: blur(30px);
  border: 1px solid rgb(237, 195, 78);
  border-radius: 20px;
  padding: 30px;
  color: white;
}

.search-box {
  position: relative;
  width: 100%;
  height: 50px;
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  border: 2px solid rgb(251, 234, 187);
  border-radius: 10px;
}

.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 50px 0 48px;
}

.search-box input::placeholder {
  color: azure;
  text-transform: capitalize;
}

.search-box i {
  position: absolute;
  left: 10px;
  color: white;
  font-size: 28px;
}

.search-box button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  color: white;
  padding: 0 40px 0 5px;
  cursor: pointer;
}

.weather-box{
    text-align: center;
    margin: 40px 0;
}

.weather-box img{
    width: 60%;
}

.weather-box .temperature{
position: relative;
font-size: 60px;
line-height: 1;
font-weight: 700;
}

.weather-box .temperature span{
    position: absolute;
    font-size: 20px;
    margin-left: 4px;
}

.weather-box .description{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    display: flex;
    position: absolute;
    bottom: 40px;
    left : 0;
    width: 100%;
    padding: 0 30px;
}

.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
    width: 100%;
}

.weather-details i{
    font-size: 40px;
    margin: 5px 10px 0 10px;
}
.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}